@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-size: 14px;
  }
  .v119_481 {
    width: 896px;
    height: 3667px;
    background: url("../images/v119_481.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    bottom: 470px;
    left: 0px;
    overflow: hidden;
    float: right;
  }
  .v119_482 {
    width: 848px;
    height: 100%;
    background: rgba(93,107,230,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    
  }
  .v119_483 {
    width: 450px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v119_501 {
    width: 736px;
    height: 106px;
    background: url("../images/v119_501.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 166px;
    left: 48px;
    overflow: hidden;
  }
  .v119_502 {
    width: 241px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_503 {
    width: 177px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 39px;
    left: 559px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_504 {
    width: 737px;
    height: 103px;
    background: url("../images/v119_504.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 319px;
    left: 47px;
    overflow: hidden;
  }
  .v119_505 {
    width: 242px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_506 {
    width: 177px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_507 {
    width: 743px;
    height: 74px;
    background: url("../images/v119_507.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 490px;
    left: 42px;
    overflow: hidden;
  }
  .v119_508 {
    width: 242px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_509 {
    width: 177px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 566px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_510 {
    width: 758px;
    height: 96px;
    background: url("../images/v119_510.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 625px;
    left: 47px;
    overflow: hidden;
  }
  .v119_511 {
    width: 397px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_512 {
    width: 198px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_513 {
    width: 770px;
    height: 95px;
    background: url("../images/v119_513.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 772px;
    left: 48px;
    overflow: hidden;
  }
  .v119_514 {
    width: 380px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_515 {
    width: 211px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 28px;
    left: 559px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_516 {
    width: 772px;
    height: 132px;
    background: url("../images/v119_516.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 933px;
    left: 42px;
    overflow: hidden;
  }
  .v119_517 {
    width: 467px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_518 {
    width: 207px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 31px;
    left: 565px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_519 {
    width: 762px;
    height: 75px;
    background: url("../images/v119_519.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1099px;
    left: 47px;
    overflow: hidden;
  }
  .v119_520 {
    width: 498px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_521 {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_522 {
    width: 392px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1226px;
    left: 47px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_523 {
    width: 724px;
    height: 62px;
    background: url("../images/v119_523.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1378px;
    left: 47px;
    overflow: hidden;
  }
  .v119_524 {
    width: 447px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v119_525 {
    width: 164px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_526 {
    width: 724px;
    height: 62px;
    background: url("../images/v119_526.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1539px;
    left: 47px;
    overflow: hidden;
  }
  .v119_527 {
    width: 513px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v119_528 {
    width: 164px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_529 {
    width: 726px;
    height: 141px;
    background: url("../images/v119_529.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1672px;
    left: 47px;
    overflow: hidden;
  }
  .v119_530 {
    width: 452px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v119_531 {
    width: 166px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_532 {
    width: 729px;
    height: 50px;
    background: url("../images/v119_532.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1867px;
    left: 42px;
    overflow: hidden;
  }
  .v119_533 {
    width: 447px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_534 {
    width: 164px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 565px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_535 {
    width: 729px;
    height: 50px;
    background: url("../images/v119_535.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2001px;
    left: 42px;
    overflow: hidden;
  }
  .v119_536 {
    width: 447px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_537 {
    width: 164px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 565px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_596 {
    width: 741px;
    height: 47px;
    background: url("../images/v119_596.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2233px;
    left: 47px;
    overflow: hidden;
  }
  .v119_597 {
    width: 322px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_598 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v179_10 {
    width: 758px;
    height: 955px;
    background: url("../images/v179_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2355px;
    left: 46px;
    overflow: hidden;
  }
  .v119_599 {
    width: 428px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_600 {
    width: 740px;
    height: 125px;
    background: url("../images/v119_600.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 1px;
    overflow: hidden;
  }
  .v119_601 {
    width: 258px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_602 {
    width: 116px;
    height: 62px;
    background: url("../images/v119_602.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 264px;
    overflow: hidden;
  }
  .v119_603 {
    width: 116px;
    height: 62px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v119_604 {
    width: 79px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v119_605 {
    width: 180px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_606 {
    width: 739px;
    height: 86px;
    background: url("../images/v119_606.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 1px;
    overflow: hidden;
  }
  .v119_607 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_608 {
    width: 117px;
    height: 62px;
    background: url("../images/v119_608.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 264px;
    overflow: hidden;
  }
  .v119_609 {
    width: 117px;
    height: 62px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v119_610 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v119_611 {
    width: 179px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 560px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_612 {
    width: 736px;
    height: 92px;
    background: url("../images/v119_612.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 452px;
    left: 1px;
    overflow: hidden;
  }
  .v119_613 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_614 {
    width: 117px;
    height: 62px;
    background: url("../images/v119_614.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 264px;
    overflow: hidden;
  }
  .v119_615 {
    width: 117px;
    height: 62px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v119_616 {
    width: 77px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v119_617 {
    width: 179px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 557px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_618 {
    width: 751px;
    height: 86px;
    background: url("../images/v119_618.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 606px;
    left: 7px;
    overflow: hidden;
  }
  .v119_619 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_620 {
    width: 122px;
    height: 62px;
    background: url("../images/v119_620.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 253px;
    overflow: hidden;
  }
  .v119_621 {
    width: 122px;
    height: 62px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v119_622 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v119_623 {
    width: 200px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5px;
    left: 551px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_624 {
    width: 736px;
    height: 86px;
    background: url("../images/v119_624.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 738px;
    left: 1px;
    overflow: hidden;
  }
  .v119_625 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_626 {
    width: 179px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 557px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_627 {
    width: 736px;
    height: 86px;
    background: url("../images/v119_627.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 869px;
    left: 1px;
    overflow: hidden;
  }
  .v119_628 {
    width: 281px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_629 {
    width: 179px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 557px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v179_9 {
    width: 854px;
    height: 283px;
    background: url("../images/v179_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3383px;
    left: 42px;
    overflow: hidden;
  }
  .v119_636 {
    width: 591px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v179_8 {
    width: 854px;
    height: 166px;
    background: url("../images/v179_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 117px;
    left: 0px;
    overflow: hidden;
  }
  .v119_639 {
    width: 292px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 31px;
    left: 562px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v119_637 {
    width: 458px;
    height: 78px;
    background: url("../images/v119_637.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v119_638 {
    width: 458px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v119_640 {
    width: 378px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 93px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }